# PyPI Template

![][version-image]
[![Release date][release-date-image]][release-url]
[![License][license-image]][license-url]
[![semantic-release][semantic-image]][semantic-url]
[![Jupyter Book][jupyter-book-image]][jupyter-book-url]
[![Conventional Commits][conventional-commits-image]][conventional-commits-url]

A Template for Python Packages

## Usage

### Create a new repository

1. Click the `Use this template` button
2. Enter a name for your repository
3. Click `Create repository from template`

## License

This project is released under the [MIT License][license-url].

<!-- Links: -->

[version-image]: https://img.shields.io/github/v/release/{{ github_username }}/{{ github_repository }}?sort=semver
[release-date-image]: https://img.shields.io/github/release-date/{{ github_username }}/{{ github_repository }}
[release-url]: https://github.com/{{ github_username }}/{{ github_repository }}/releases
[semantic-image]: https://img.shields.io/badge/%20%20%F0%9F%93%A6%F0%9F%9A%80-semantic--release-e10079.svg
[semantic-url]: https://github.com/semantic-release/semantic-release
[license-image]: https://img.shields.io/github/license/{{ github_username }}/{{ github_repository }}
[license-url]: https://github.com/{{ github_username }}/{{ github_repository }}/blob/main/LICENSE
[changelog-url]: https://github.com/{{ github_username }}/{{ github_repository }}/blob/main/docs/CHANGELOG.md
[jupyter-book-image]: https://jupyterbook.org/en/stable/_images/badge.svg
[jupyter-book-url]: https://jupyterbook.org
[conventional-commits-image]: https://img.shields.io/badge/Conventional%20Commits-1.0.0-%23FE5196?logo=conventionalcommits&logoColor=white
[conventional-commits-url]: https://conventionalcommits.org
