site_name: {{ friendly_name }}
plugins:
  - search
  - mkdocstrings:
      handlers:
        # See: https://mkdocstrings.github.io/python/usage/
        python:
          options:
            docstring_style: sphinx
markdown_extensions:
  - markdown_include.include:
      base_path: .
  - pymdownx.arithmatex:
      generic: true
  - admonition
theme:
  name: material
  palette:
    scheme: slate
  features:
    - navigation.expand
  {% if favicon_path %}favicon: {{ favicon_path }} {% endif -%} # favicon: Path to the favicon image
  {% if logo_path %}logo: {{ logo_path }} {% endif -%} # logo: Path to the book logo
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
{% if google_analytics_id -%}
extra:
  analytics:
    provider: google
    property: {{ google_analytics_id }}
{% endif -%}
