API Reference
=============

.. autosummary::
   :toctree: _autosummary
   :recursive:

   {{ package_name }}

main
----
.. autofunction:: {{ package_name }}.__cli__.main

get_version
-----------
.. autofunction:: {{ package_name }}.__init__.get_version
