{!README.md!}

{% if build_and_release %}
Check out the [usage](usage) section for further information.
{% endif %}

{% if project_name != 'hyperfast-python-template' %}
!!! note

    This project is under active development.
{% endif -%}
