_open_link_: {{ open_link }}
name: "{{ friendly_name }}"
authors: "{{ author }} <{{ email }}>"
description: "{{ project_short_description }}"
homepage: "{{ documentation_url }}"
license: "{{ project_license }}"
