jupyter-book==1.0.4.post1
docutils
sphinx-inline-tabs
sphinx-examples
sphinx-proof
sphinx-hoverxref
sphinxcontrib-youtube
sphinxcontrib-video
sphinx-thebe
sphinxcontrib-mermaid
sphinx-carousel
sphinxcontrib-lastupdate
